.container {
    background: lightsalmon;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-auto-rows: 50px;
    grid-template-columns: 50px 50px 50px;
    gap: 4px;
    height: 300px;
    /* justify-items: start; */
    /* align-items: start; */
    /*grid-auto-flow: row; valor por defecto */

    height: 300px;
    width: 300px;
    justify-content: center;
    align-content: center;
}


.container div {
    background: lightblue;
    border: 2px solid #09f;
    border-radius: 6%;
}

.container div:first-child {
    background: lightgreen;
    border: 2px solid green;
    /* grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3; */
}

.container div:nth-child(2) {
    background: lightseagreen;
    border: 2px solid blue;
}




















body {
    background: #ddd;
}